<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IMS salessystem</title>
    <link href="/static/bootstap.css" rel="stylesheet">

</head>


<body class="">
    {% extends "layout.html" %}
    {% block content %}


    <!-- Page Content-->
    <div class="container px-4 px-lg-5">
        <!-- Heading Row-->

        <div class="swiper-slide mb-3">
            <div class="row banner-content p-5">
                <div class="content-wrapper  col-md-7">

                    <h4 class="categories mb-5 pb-lg-5 text-warning banner">100% natural</h4>



                    <h3 class="banner-title pb-lg-5">Fresh Smoothie & Summer Juice</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim massa diam elementum.</p>

                </div>
                <div class="img-wrapper col-md-5">
                    <img src="/static/product-thumb-1.png" class="img-fluid">
                </div>
            </div>
        </div>

    </div>


    <!--<div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-9"><img class="img-fluid rounded mb-4 mb-lg-0" src="/static/landpage.jpg" alt="..." />
        </div>
        <div class="col-lg-3">
            <h1 class="font-weight-light">IMS</h1>
            <p>We are a business that deals with groceries,we provide the best to our customers
                You are Welcome!
            </p>

        </div>
    </div>
    <div class="row text-black bg-dark-subtle my-5 py-4 text">-->

    <!-- Content Row-->

    <div class="row flex-row">


        <div class="card col-lg-4 col-md-6 shadow border-0">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/static/honey.jpg" class="img-fluid rounded" alt="Card title">
                </div>
                <div class="col-lg-8">
                    <div class="card-body py-0">
                        <p class="text-muted mb-">Amber Jar</p>
                        <h5 class="card-title">Honey best nectar you wish to get</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="card col-lg-4 col-md-6 shadow border-0">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/static/bags.jpg" class="img-fluid rounded" alt="Card title">
                </div>
                <div class="col-lg-8">
                    <div class="card-body py-0">
                        <p class="text-muted mb-">Amber Jar</p>
                        <h5 class="card-title">Honey best nectar you wish to get</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>














    <!--<div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">

                    <h2 class="card-title">Tomato Ketchup</h2>

                    <p class="card-text"> <img src="/static/ketchup.png" /></p>
                </div>
                <div class="card-footer"><a class="btn btn-outline-dark btn-sm" href="#!">More Info</a></div>
            </div>
        </div>

        <div class="col-md-4 mb-5">
            <div class="card h-200">
                <div class="card-body">
                    <h2 class="card-title">Avocado</h2>
                    <img src="/static/thumb-avocado.png">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur
                        ex
                        natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id
                        dolore
                        voluptates quos eligendi labore.</p>
                </div>
                <div class="card-footer"><a class="btn btn-outline-dark btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Card Three</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni
                        quas ex
                        numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                </div>
                <div class="card-footer"><a class="btn btn-outline-dark btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
    </div>-->


    <!-- Testimonials section-->
    <section class="py-5 border-bottom">
        <div class="container px-5 my-5 px-5">
            <div class="text-center mb-5">
                <h2 class="fw-bolder">Customer testimonials</h2>
                <p class="lead mb-0">Our customers love working with us</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6 col-sm-12">
                    <!-- Testimonial 1-->
                    <div class="card mb-4">
                        <div class="card-body p-4">
                            <div class="d-flex">
                                <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i>
                                </div>
                                <div class="ms-4">
                                    <p class="mb-1">Thank you for putting together such a great product. We loved
                                        working with you and the whole team, and we will be recommending you to
                                        others!
                                    </p>
                                    <div class="small text-muted">- Claudia, Nakuru</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Testimonial 2-->
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="d-flex">
                                <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i>
                                </div>
                                <div class="ms-4">
                                    <p class="mb-1">This is by far, not only the best in terms of quality,
                                        but also in sophistication and value.</p>
                                    <div class="small text-muted">- Boniface, Loitoktok</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact section-->
    <section class="bg-light py-5">
        <div class="container px-5 my-5 px-5">
            <div class="text-center mb-5">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i>
                </div>
                <h2 class="fw-bolder">Get in touch</h2>
                <p class="lead mb-0">We'd love to hear from you</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- * * SB Forms Contact Form * *-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- This form is pre-integrated with SB Forms.-->
                    <!-- To make this form functional, sign up at-->
                    <!-- https://startbootstrap.com/solution/contact-forms-->
                    <!-- to get an API token!-->
                    <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                        <!-- Name input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="name" type="text" placeholder="Enter your name..."
                                data-sb-validations="required" />
                            <label for="name">Full name</label>
                            <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                        </div>
                        <!-- Email address input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="email" type="email" placeholder="name@example.com"
                                data-sb-validations="required,email" />
                            <label for="email">Email address</label>
                            <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.
                            </div>
                            <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                        </div>
                        <!-- Phone number input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="phone" type="tel" placeholder="(+254) 456-7890"
                                data-sb-validations="required" />
                            <label for="phone">Phone number</label>
                            <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is
                                required.
                            </div>
                        </div>
                        <!-- Message input-->
                        <div class="form-floating mb-3">
                            <textarea class="form-control" id="message" type="text"
                                placeholder="Enter your message here..." style="height: 10rem"
                                data-sb-validations="required"></textarea>
                            <label for="message">Message</label>
                            <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.
                            </div>
                        </div>
                        <!-- Submit success message-->
                        <!---->
                        <!-- This is what your users will see when the form-->
                        <!-- has successfully submitted-->
                        <div class="d-none" id="submitSuccessMessage">
                            <div class="text-center mb-3">
                                <div class="fw-bolder">Form submission successful!</div>
                                To activate this form, sign up at
                                <br />
                                <a
                                    href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                            </div>
                        </div>
                        <!-- Submit error message-->
                        <!---->
                        <!-- This is what your users will see when there is-->
                        <!-- an error submitting the form-->
                        <div class="d-none" id="submitErrorMessage">
                            <div class="text-center text-danger mb-3">Error sending message!</div>
                        </div>
                        <!-- Submit Button-->
                        <div class="d-grid"><button class="btn btn-warning" id="submitButton"
                                type="submit">Submit</button></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container px-4 px-lg-5">
            <p class="m-0 text-center text-white">Copyright &copy; IMS salessystem 2023</p>
        </div>
    </footer>
    </div>

    <script src="/js/jquery-1.11.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/script.js"></script>

    {% endblock %}




</body>

</html>