<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
  <link rel="stylesheet" href="/static/login.css">
 
    <style type="text/css">
      .container {
        margin-top: 8%;
        width: 400px;
        border: ridge 1.4px rgb(234, 213, 213);
        padding: 20px;
      }

      body {
        background: #cad8f1;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #b7cdeb, #E0EAFC);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #93b4e1, #E0EAFC);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      }
    </style>
</head>

<body>
  <div class="container col-lg-6 col-sm-12">
    <h2>LogIn</h2>
    <form action="/products" method="POST">
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id= "email" placeholder="Enter email address" name="email" required>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control"  id="Password" placeholder="Enter Password" name="password">
      </div>

      <button type="submit" class="btn btn-primary">Log In</button>
      <br>

      <br>
      <div>Dont have an account?</div>
      <button class="btn submits sign-up btn"><a href="/register">Sign up Here</a></button>
    </form>
    {% if error %}
    <p style="color: rgb(248, 8, 8);">{{ error }}</p>
    {% endif %}

    
  </div>
</body>

</html>