<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Products</title>
   
</head>

<body>
    {% extends "layout.html" %}
    {% block content %}

   
    

    <!--Mini nav bar-->
    <div class="container text-center">
        <div class="row align-items-start">
            <div class="col-lg-3 col-sm-12">
            Nav Bar
            </div>

            <!--Display Table-->
            <div class="col-lg-9 col-sm-12">
                <div class="row" style="background-color: rgb(235, 243, 243);">
                    <div class="col-4">

                    </div>
                    <div class="col-lg-4 col-sm-12" >

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                            Add Products
                        </button>


                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/addproduct" method="post">
                                            <div class="mb-3">
                                                <label for="exampleInputPassword1" class="form-label">Name</label>
                                                <input type="text" class="form-control" id="exampleInputPassword1"
                                                    name="name">
                                            </div>
                                            <div class="mb-3">
                                                <label for="exampleInputPassword1" class="form-label">Buying
                                                    price</label>
                                                <input type="number" class="form-control" id="exampleInputPassword1"
                                                    name="buying_price">
                                            </div>
                                            <div class="mb-3">
                                                <label for="exampleInputPassword1" class="form-label">Selling
                                                    price</label>
                                                <input type="number" class="form-control" id="exampleInputPassword1"
                                                    name="selling_price"> <!-- name need to match at main.py-->
                                            </div>

                                            <div class="mb-3">
                                                <label for="exampleInputPassword1" class="form-label">Stock
                                                    quantity</label>
                                                <input type="number" class="form-control" id="exampleInputPassword1"
                                                    name="stock_quantity">
                                            </div>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">save</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-4">

                        </div>


                    </div>
                </div>
                <table class="table" id="myTable">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Buying price</th>
                            <th scope="col">Selling price</th>
                            <th scope="col">Stock quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in prods %}
                        <tr>
                            <td scope="col">{{i[0]}}</td>
                            <td>{{i[1]}}</td>
                            <td>{{i[2]}}</td>
                            <td>{{i[3]}}</td>
                            <td>{{i[4]}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    {% endblock %}
    
   

</body>

</html>